*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white ;
    font-size: x-large;
    height: 100px;
    border-bottom: solid 3px #ff5c5c;
        
}

a{
    display:flex;
  
    text-decoration: none;
    font-size: xx-large;
    font-family: Arial;
    color: #ff5c5c;
    
}

.imgLogo {
    height: 200px;
}

button{
    background-color: #ff5c5c;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-family: arial;
    font-weight: bolder;
    font-size: large;
}

div{
    display: flex;
    text-align: center;
    height: 400px;
   
}

.texto{
    text-align: center;
    font-size: x-large;
    font-family: arial;
    font-weight: bolder;
    padding: 5px;
    color: #ff5c5c;
    border: solid gray 1px;
 
}

footer{
    display: flex;
    text-align: center;
    border-top: solid #ff5c5c 2px;
    margin-top: 20px;
    height: 150px;
}

table{
    width: 1000px;
    justify-items: flex-end;
}

p{
    text-align: center;
    color: #ff5c5c;
}